PMS/App_WebReferences/AppoinmentTemp/AppoinmentBookTemp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAppointmentDetailTemp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAppointmentDetailTempResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAppointmentDetailTempDetailByPatientId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentDetailTempDetailByPatientIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppointmentDetailTempDetailByPatientIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppointmentDetailTempDetail">
        <s:complexType />
      </s:element>
      <s:element name="GetAppointmentDetailTempDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppointmentDetailTempDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditAppointmentStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TempId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditAppointmentStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAppointmentDetailTempSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAppointmentDetailTemp" />
  </wsdl:message>
  <wsdl:message name="InsertAppointmentDetailTempSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAppointmentDetailTempResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentDetailTempDetailByPatientIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppointmentDetailTempDetailByPatientId" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentDetailTempDetailByPatientIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppointmentDetailTempDetailByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentDetailTempDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppointmentDetailTempDetail" />
  </wsdl:message>
  <wsdl:message name="GetAppointmentDetailTempDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppointmentDetailTempDetailResponse" />
  </wsdl:message>
  <wsdl:message name="EditAppointmentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:EditAppointmentStatus" />
  </wsdl:message>
  <wsdl:message name="EditAppointmentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:EditAppointmentStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="AppoinmentBookTempSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAppointmentDetailTemp">
      <wsdl:input message="tns:InsertAppointmentDetailTempSoapIn" />
      <wsdl:output message="tns:InsertAppointmentDetailTempSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetailByPatientId">
      <wsdl:input message="tns:GetAppointmentDetailTempDetailByPatientIdSoapIn" />
      <wsdl:output message="tns:GetAppointmentDetailTempDetailByPatientIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetail">
      <wsdl:input message="tns:GetAppointmentDetailTempDetailSoapIn" />
      <wsdl:output message="tns:GetAppointmentDetailTempDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditAppointmentStatus">
      <wsdl:input message="tns:EditAppointmentStatusSoapIn" />
      <wsdl:output message="tns:EditAppointmentStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppoinmentBookTempSoap" type="tns:AppoinmentBookTempSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAppointmentDetailTemp">
      <soap:operation soapAction="http://tempuri.org/InsertAppointmentDetailTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetailByPatientId">
      <soap:operation soapAction="http://tempuri.org/GetAppointmentDetailTempDetailByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetail">
      <soap:operation soapAction="http://tempuri.org/GetAppointmentDetailTempDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAppointmentStatus">
      <soap:operation soapAction="http://tempuri.org/EditAppointmentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AppoinmentBookTempSoap12" type="tns:AppoinmentBookTempSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAppointmentDetailTemp">
      <soap12:operation soapAction="http://tempuri.org/InsertAppointmentDetailTemp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetailByPatientId">
      <soap12:operation soapAction="http://tempuri.org/GetAppointmentDetailTempDetailByPatientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentDetailTempDetail">
      <soap12:operation soapAction="http://tempuri.org/GetAppointmentDetailTempDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAppointmentStatus">
      <soap12:operation soapAction="http://tempuri.org/EditAppointmentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppoinmentBookTemp">
    <wsdl:port name="AppoinmentBookTempSoap" binding="tns:AppoinmentBookTempSoap">
      <soap:address location="https://www.booking-adviser.com/AppoinmentBookTemp.asmx" />
    </wsdl:port>
    <wsdl:port name="AppoinmentBookTempSoap12" binding="tns:AppoinmentBookTempSoap12">
      <soap12:address location="https://www.booking-adviser.com/AppoinmentBookTemp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>