PMS/App_WebReferences/LoginWeb/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginAdminDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginAdminDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginAdminDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDoctorDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDoctorDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginDoctorDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginPatientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginPatientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginPatientDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginAdminDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginAdminDetails" />
  </wsdl:message>
  <wsdl:message name="GetLoginAdminDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginAdminDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginDoctorDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginDoctorDetails" />
  </wsdl:message>
  <wsdl:message name="GetLoginDoctorDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginDoctorDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginPatientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginPatientDetails" />
  </wsdl:message>
  <wsdl:message name="GetLoginPatientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginAdminDetails">
      <wsdl:input message="tns:GetLoginAdminDetailsSoapIn" />
      <wsdl:output message="tns:GetLoginAdminDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginDoctorDetails">
      <wsdl:input message="tns:GetLoginDoctorDetailsSoapIn" />
      <wsdl:output message="tns:GetLoginDoctorDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginPatientDetails">
      <wsdl:input message="tns:GetLoginPatientDetailsSoapIn" />
      <wsdl:output message="tns:GetLoginPatientDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginAdminDetails">
      <soap:operation soapAction="http://tempuri.org/GetLoginAdminDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDoctorDetails">
      <soap:operation soapAction="http://tempuri.org/GetLoginDoctorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginPatientDetails">
      <soap:operation soapAction="http://tempuri.org/GetLoginPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginAdminDetails">
      <soap12:operation soapAction="http://tempuri.org/GetLoginAdminDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDoctorDetails">
      <soap12:operation soapAction="http://tempuri.org/GetLoginDoctorDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginPatientDetails">
      <soap12:operation soapAction="http://tempuri.org/GetLoginPatientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="https://www.booking-adviser.com/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="https://www.booking-adviser.com/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>