PMS/App_WebReferences/Patient/PatientRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPatientByAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientUniqId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPatientByAdminResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertPatientByOwn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientUniqId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPatientByOwnResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPatientDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetPatientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientDetailByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientDetailByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientDetailByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPatientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPatientDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePatientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatientDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckUSerExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUSerExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUSerExistResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientForgotPasswordDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientForgotPasswordDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PatientForgotPasswordDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPatientByAdminSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPatientByAdmin" />
  </wsdl:message>
  <wsdl:message name="InsertPatientByAdminSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPatientByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPatientByOwnSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPatientByOwn" />
  </wsdl:message>
  <wsdl:message name="InsertPatientByOwnSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPatientByOwnResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientDetails" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientDetailByID" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientDetailByIDResponse" />
  </wsdl:message>
  <wsdl:message name="EditPatientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:EditPatientDetails" />
  </wsdl:message>
  <wsdl:message name="EditPatientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:EditPatientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePatientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePatientDetails" />
  </wsdl:message>
  <wsdl:message name="DeletePatientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePatientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUSerExistSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUSerExist" />
  </wsdl:message>
  <wsdl:message name="CheckUSerExistSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUSerExistResponse" />
  </wsdl:message>
  <wsdl:message name="PatientForgotPasswordDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:PatientForgotPasswordDetails" />
  </wsdl:message>
  <wsdl:message name="PatientForgotPasswordDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:PatientForgotPasswordDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PatientChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:PatientChangePassword" />
  </wsdl:message>
  <wsdl:message name="PatientChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:PatientChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientRegistrationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByAdmin">
      <wsdl:input message="tns:InsertPatientByAdminSoapIn" />
      <wsdl:output message="tns:InsertPatientByAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByOwn">
      <wsdl:input message="tns:InsertPatientByOwnSoapIn" />
      <wsdl:output message="tns:InsertPatientByOwnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetails">
      <wsdl:input message="tns:GetPatientDetailsSoapIn" />
      <wsdl:output message="tns:GetPatientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailByID">
      <wsdl:input message="tns:GetPatientDetailByIDSoapIn" />
      <wsdl:output message="tns:GetPatientDetailByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditPatientDetails">
      <wsdl:input message="tns:EditPatientDetailsSoapIn" />
      <wsdl:output message="tns:EditPatientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatientDetails">
      <wsdl:input message="tns:DeletePatientDetailsSoapIn" />
      <wsdl:output message="tns:DeletePatientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <wsdl:input message="tns:CheckUSerExistSoapIn" />
      <wsdl:output message="tns:CheckUSerExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PatientForgotPasswordDetails">
      <wsdl:input message="tns:PatientForgotPasswordDetailsSoapIn" />
      <wsdl:output message="tns:PatientForgotPasswordDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PatientChangePassword">
      <wsdl:input message="tns:PatientChangePasswordSoapIn" />
      <wsdl:output message="tns:PatientChangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientRegistrationSoap" type="tns:PatientRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByAdmin">
      <soap:operation soapAction="http://tempuri.org/InsertPatientByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByOwn">
      <soap:operation soapAction="http://tempuri.org/InsertPatientByOwn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetails">
      <soap:operation soapAction="http://tempuri.org/GetPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailByID">
      <soap:operation soapAction="http://tempuri.org/GetPatientDetailByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPatientDetails">
      <soap:operation soapAction="http://tempuri.org/EditPatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatientDetails">
      <soap:operation soapAction="http://tempuri.org/DeletePatientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <soap:operation soapAction="http://tempuri.org/CheckUSerExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientForgotPasswordDetails">
      <soap:operation soapAction="http://tempuri.org/PatientForgotPasswordDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientChangePassword">
      <soap:operation soapAction="http://tempuri.org/PatientChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientRegistrationSoap12" type="tns:PatientRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByAdmin">
      <soap12:operation soapAction="http://tempuri.org/InsertPatientByAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPatientByOwn">
      <soap12:operation soapAction="http://tempuri.org/InsertPatientByOwn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPatientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailByID">
      <soap12:operation soapAction="http://tempuri.org/GetPatientDetailByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPatientDetails">
      <soap12:operation soapAction="http://tempuri.org/EditPatientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatientDetails">
      <soap12:operation soapAction="http://tempuri.org/DeletePatientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <soap12:operation soapAction="http://tempuri.org/CheckUSerExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientForgotPasswordDetails">
      <soap12:operation soapAction="http://tempuri.org/PatientForgotPasswordDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientChangePassword">
      <soap12:operation soapAction="http://tempuri.org/PatientChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientRegistration">
    <wsdl:port name="PatientRegistrationSoap" binding="tns:PatientRegistrationSoap">
      <soap:address location="https://www.booking-adviser.com/PatientRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientRegistrationSoap12" binding="tns:PatientRegistrationSoap12">
      <soap12:address location="https://www.booking-adviser.com/PatientRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>