PMS/App_WebReferences/Doctors/DoctorRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDoctorDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoctorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="HospitalName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Qualification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Specialist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDoctorDetailResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditDoctorDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DoctorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StateId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="HospitalName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Qualification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Specialist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditDoctorDetailResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDoctorDetail">
        <s:complexType />
      </s:element>
      <s:element name="GetDoctorDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorDetailByDoctorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorDetailByDoctorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorDetailByDoctorIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDoctorDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDoctorDetailResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckUSerExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUSerExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUSerExistResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorDetailExist">
        <s:complexType />
      </s:element>
      <s:element name="GetDoctorDetailExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorDetailExistResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorsChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorsChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoctorsChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorsForgotPasswordDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorsForgotPasswordDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoctorsForgotPasswordDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorDetailExistbyDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorDetailExistbyDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorDetailExistbyDateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDoctorDetailSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDoctorDetail" />
  </wsdl:message>
  <wsdl:message name="InsertDoctorDetailSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDoctorDetailResponse" />
  </wsdl:message>
  <wsdl:message name="EditDoctorDetailSoapIn">
    <wsdl:part name="parameters" element="tns:EditDoctorDetail" />
  </wsdl:message>
  <wsdl:message name="EditDoctorDetailSoapOut">
    <wsdl:part name="parameters" element="tns:EditDoctorDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorDetail" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailByDoctorIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailByDoctorId" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailByDoctorIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailByDoctorIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDoctorDetailSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDoctorDetail" />
  </wsdl:message>
  <wsdl:message name="DeleteDoctorDetailSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDoctorDetailResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUSerExistSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUSerExist" />
  </wsdl:message>
  <wsdl:message name="CheckUSerExistSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUSerExistResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailExistSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailExist" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailExistSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailExistResponse" />
  </wsdl:message>
  <wsdl:message name="DoctorsChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:DoctorsChangePassword" />
  </wsdl:message>
  <wsdl:message name="DoctorsChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:DoctorsChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="DoctorsForgotPasswordDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:DoctorsForgotPasswordDetails" />
  </wsdl:message>
  <wsdl:message name="DoctorsForgotPasswordDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:DoctorsForgotPasswordDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailExistbyDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailExistbyDate" />
  </wsdl:message>
  <wsdl:message name="GetDoctorDetailExistbyDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorDetailExistbyDateResponse" />
  </wsdl:message>
  <wsdl:portType name="DoctorRegistrationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDoctorDetail">
      <wsdl:input message="tns:InsertDoctorDetailSoapIn" />
      <wsdl:output message="tns:InsertDoctorDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditDoctorDetail">
      <wsdl:input message="tns:EditDoctorDetailSoapIn" />
      <wsdl:output message="tns:EditDoctorDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetail">
      <wsdl:input message="tns:GetDoctorDetailSoapIn" />
      <wsdl:output message="tns:GetDoctorDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailByDoctorId">
      <wsdl:input message="tns:GetDoctorDetailByDoctorIdSoapIn" />
      <wsdl:output message="tns:GetDoctorDetailByDoctorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctorDetail">
      <wsdl:input message="tns:DeleteDoctorDetailSoapIn" />
      <wsdl:output message="tns:DeleteDoctorDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <wsdl:input message="tns:CheckUSerExistSoapIn" />
      <wsdl:output message="tns:CheckUSerExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExist">
      <wsdl:input message="tns:GetDoctorDetailExistSoapIn" />
      <wsdl:output message="tns:GetDoctorDetailExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoctorsChangePassword">
      <wsdl:input message="tns:DoctorsChangePasswordSoapIn" />
      <wsdl:output message="tns:DoctorsChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoctorsForgotPasswordDetails">
      <wsdl:input message="tns:DoctorsForgotPasswordDetailsSoapIn" />
      <wsdl:output message="tns:DoctorsForgotPasswordDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExistbyDate">
      <wsdl:input message="tns:GetDoctorDetailExistbyDateSoapIn" />
      <wsdl:output message="tns:GetDoctorDetailExistbyDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoctorRegistrationSoap" type="tns:DoctorRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDoctorDetail">
      <soap:operation soapAction="http://tempuri.org/InsertDoctorDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDoctorDetail">
      <soap:operation soapAction="http://tempuri.org/EditDoctorDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetail">
      <soap:operation soapAction="http://tempuri.org/GetDoctorDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailByDoctorId">
      <soap:operation soapAction="http://tempuri.org/GetDoctorDetailByDoctorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctorDetail">
      <soap:operation soapAction="http://tempuri.org/DeleteDoctorDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <soap:operation soapAction="http://tempuri.org/CheckUSerExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExist">
      <soap:operation soapAction="http://tempuri.org/GetDoctorDetailExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorsChangePassword">
      <soap:operation soapAction="http://tempuri.org/DoctorsChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorsForgotPasswordDetails">
      <soap:operation soapAction="http://tempuri.org/DoctorsForgotPasswordDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExistbyDate">
      <soap:operation soapAction="http://tempuri.org/GetDoctorDetailExistbyDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoctorRegistrationSoap12" type="tns:DoctorRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDoctorDetail">
      <soap12:operation soapAction="http://tempuri.org/InsertDoctorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDoctorDetail">
      <soap12:operation soapAction="http://tempuri.org/EditDoctorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetail">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailByDoctorId">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorDetailByDoctorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctorDetail">
      <soap12:operation soapAction="http://tempuri.org/DeleteDoctorDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUSerExist">
      <soap12:operation soapAction="http://tempuri.org/CheckUSerExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExist">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorDetailExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorsChangePassword">
      <soap12:operation soapAction="http://tempuri.org/DoctorsChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorsForgotPasswordDetails">
      <soap12:operation soapAction="http://tempuri.org/DoctorsForgotPasswordDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDetailExistbyDate">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorDetailExistbyDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoctorRegistration">
    <wsdl:port name="DoctorRegistrationSoap" binding="tns:DoctorRegistrationSoap">
      <soap:address location="https://www.booking-adviser.com/DoctorRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="DoctorRegistrationSoap12" binding="tns:DoctorRegistrationSoap12">
      <soap12:address location="https://www.booking-adviser.com/DoctorRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>